html {
    background-color: blanchedalmond;
    min-width: 400px;
    min-height: 600px;
}
.comments-area{
    /* min-height: 200px; */
}


.CodeMirror-scroll{
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}
.CodeMirror {
    background-color: blanchedalmond !important;
    border-color: blanchedalmond !important;
}
.comment-input::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}