# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.pyc

# Zone identifier files
*.Zone.Identifier

# Node
node_modules/
npm-debug.log
yarn-error.log

extension/lib/simplemde.min.js:Zone.Identifier
extension/lib/simplemde.min.css:Zone.Identifier

# SvelteKit
.svelte-kit/
build/