@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: 'Oooh Baby';
  src: url('OoohBaby-Regular.woff2') format('woff2'),
      url('OoohBaby-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
    background-color: #303030;
    color: #fff;
}

.font-cormorant {
    font-family: 'Cormorant Garamond', serif;
}
.font-oh-baby {
    font-family: 'Oooh Baby', sans-serif;
}

.white-focus-ring:focus-visible,
.white-focus-ring:active {
    outline: 2px solid white;
    outline-offset: 2px;
}

.rounded-token{
    border-radius: 20px;
}